
  
  .bg-customm {
    background-color: #19204E;
    border-radius: 30px;
    color: #fff;
    outline: medium none !important;
    padding: 15px 27px;
    text-transform: capitalize;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    font-family: 'poppins', sans-serif;
    cursor: pointer;
    width: 100%;
  }
  
  /* Custom CSS */
  .button-container {
    display: flex;
    margin-top: 70px; /* Add margin to move the button down */
  }
  
.custom-button {
  background-color: #007bff; /* Blue background color */
  color: #fff; /* White text color */
  border: 1px solid #007bff; /* Blue border */
  padding: 9px 25px; /* Adjust padding as needed */
  border-radius: 12px; /* Rounded corners */
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition */
}

.custom-button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}
.custom-input {
  position: relative;
  padding-top: 1.5rem;
}
.custom-input input {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #ced4da; /* Change border color if needed */
  padding: 0.5rem 0;
  background-color: transparent;
  box-shadow: none;
  height: auto;
}
.custom-input input:focus {
  outline: none;
  box-shadow: none;
  border-color: #007bff; /* Change focus border color if needed */
}
.custom-input label {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  padding: 0.5rem 0;
  transition: all 0.3s ease;
  color: #495057; /* Change label color if needed */
}

.custom-input select {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #ced4da; /* Change border color if needed */
  padding: 0.5rem 0;
  background-color: transparent;
  box-shadow: none;
  height: auto;
  width: 100%; /* Ensure select element takes up full width */
}
.custom-input select:focus {
  outline: none;
  box-shadow: none;
  border-color: #007bff; /* Change focus border color if needed */
}
#regForm {
  background-color: #ffffff;
  margin: 0px auto;
  padding: 40px;
  border-radius: 10px
}