.container {
    margin-top: 20px;
  }
  
  .card {
    margin-bottom: 20px;
  }
  
  .btn-primary {
    background-color: black;
    color: #fff;
    border: none;
  }
  
  .btn-primary:hover {
    background-color: red;
  }
  
  .btn-secondary {
    background-color: #6c757d;
    color: #fff;
    border: none;
  }
  
  .btn-secondary:hover {
    background-color: #5a6268;
  }
  
  textarea {
    resize: none;
  }
  .btn {
    width: calc(50% - 5px); 
    margin-right: 5px; 
  }
  
  