.container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .card {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  .card img {
    width: 100%; /* Pour que l'image occupe toute la largeur de la carte */
    max-width: 150px; /* Largeur maximale de l'image */
    height: auto;
    border-radius: 8px 8px 0 0;
    display: block; /* Pour centrer l'image horizontalement */
    margin: 0 auto; /* Pour centrer l'image horizontalement */
}

.card {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center; /* Centrer le contenu horizontalement */
}
