<!--Header-->
<header class="site-navbar absolute transparent" role="banner">
    <div class="py-3">
        <div class="container">
            <div class="row align-items-center">
                <!-- Section gauche avec les icônes de réseaux sociaux -->
                <div class="col-6 col-md-3">
                    <a href="#" class="text-secondary px-2 pl-0"><span class="icon-facebook"></span></a>
                    <a href="#" class="text-secondary px-2"><span class="icon-instagram"></span></a>
                    <a href="#" class="text-secondary px-2"><span class="icon-twitter"></span></a>
                    <a href="#" class="text-secondary px-2"><span class="icon-linkedin"></span></a>
                </div>
                <!-- Section droite avec les informations de contact -->
                <div class="col-6 col-md-9 text-right">
                    <div class="d-inline-block">
                        <a href="#" class="text-secondary p-2 d-flex align-items-center">
                            <span class="icon-envelope mr-3"></span>
                            <span class="d-none d-md-block">kick_off@esprit.tn</span>
                        </a>
                    </div>
                    <div class="d-inline-block">
                        <a href="#" class="text-secondary p-2 d-flex align-items-center">
                            <span class="icon-phone mr-0 mr-md-3"></span>
                            <span class="d-none d-md-block">+21629225165</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Barre de navigation -->
    <nav class="site-navigation position-relative text-right bg-black text-md-right" role="navigation">
        <div class="container position-relative">
            <div class="site-logo">
                <img src="assets/images/logona3.png" alt="Image" width="180" height="80" class="top-margin">

           
            
            </div>
            <!-- Bouton de menu mobile pour les petits écrans -->
            <div class="d-inline-block d-md-none ml-md-0 mr-auto py-3">
                <a href="#" class="site-menu-toggle js-menu-toggle text-white">
                    <span class="icon-menu h3"></span>
                </a>
            </div>
            <!-- Menu de navigation -->
            <ul class="site-menu js-clone-nav d-none d-md-block">
              
                <li class="has-children">
                    <a href="Forwho">For Who</a>
                    <!-- Sous-menu pour la page des actualités -->
                    <ul class="dropdown arrow-top">
                        <li><a href="#">Coach</a></li>
                        <li><a href="#">Player</a></li>
                        <li><a href="#">Medical staff</a></li>
                        <li><a href="#">Technical manager</a></li>
                        <li><a href="#">Coordinator</a></li>

                    </ul>
                </li>
                <li><a href="Team"> Performance Analytics</a></li>
                <li ><a href="Training">Training</a></li>
                <li><a href="Injuries">Injury Prevention</a></li>
                <li><a href="contact.html">Scouts & Matches</a></li>
            </ul>
        </div>
    </nav>
</header>
<section>
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active" style="background-image: url('assets/images/analytics.webp')">
                <div class="carousel-caption">
                    <h4>Analytics for Football Technical Staff</h4>
                    <p>Gain valuable insights and analysis tools tailored for football technical staff to enhance team performance.</p>
                </div>
            </div>
            <div class="carousel-item" style="background-image: url('assets/images/training-.webp')">
                <div class="carousel-caption">
                    <h4>Comprehensive Training Resources</h4>
                    <p>Access a wide range of training materials and resources designed specifically for football technical staff.</p>
                </div>
            </div>
            <div class="carousel-item" style="background-image: url('assets/images/Football-Training.jpg')">
                <div class="carousel-caption">
                    <h4>Optimize Football Training Sessions</h4>
                    <p>Discover innovative techniques and strategies to maximize the effectiveness of football training sessions.</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    
</section>

