.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea.form-control {
  resize: vertical;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: black;
  color: white;
  cursor: pointer;
}

.btn:hover {
  background-color: red;
}
.background-image {
  background-image: url('src\assets\keyusers\f.jpg'); /* Chemin vers votre image */
  background-size: cover; /* Ajuster la taille de l'image pour couvrir toute la zone */
  background-position: center; /* Centrer l'image */
  background-repeat: no-repeat; /* Ne pas répéter l'image */
}
label,h2{
color: beige;
}